<h2 style="text-align: center;">Login</h2>
    <table  cellpadding ="8" width="800" style =" text-align: center; padding: 25px 110px;
    border-radius: 8px;
    background-color:rgba(186, 220, 233, 0.5);
    width: auto;
margin-left: auto;
margin-right: auto;">
        <div style="text-align: center;">
           
                <form name="logForm">
    <tr>
       
        <td>Admin Name</td>
        <td><input type="text" name="aName" size="30" tabindex="3" placeholder="Enter ur Admin Name"
            required ></td>
    </tr>

    <tr>
        
        <td>Password</td>
        <td><input type="password" name="pass" size="30" tabindex="4" placeholder="Enter ur Password"
           
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,14}"
            title="Must contain at least one number and
            one uppercase and lowercase letter, and at
            least 8 or max 14 characters"
            required></td>
             <!-- (?=.*[a-z]) - At least one lowercase letter(a - z).
            (?=.*\d) - At least one Numeric Digit (0-9)
            (?=.*[A-Z]) - - At least one Upper case letter(A - Z).
            -->
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <a href="Dashboard.html"><input type="submit" value="LOG IN"></a>
            
            <a href="forgetPassword.html">Forgot Password?</a>
        </td>
    </tr>

</form>
</div>
<footer style =" text-align: center; 
padding: px 110px;
margin-right: 30%;">

    <h4>New User? &nbsp;<a href="Registration.html">Register Here</a></h4>
</footer>
</table>
