<h2 style="text-align: center;">FORGET PASSWORD</h2>
<BR>
<BR>
    <table style =" text-align: center; padding: 30px 130px;
    border-radius: 8px;
    background-color:rgba(186, 220, 233, 0.5);
    width: auto;
margin-left: auto;
margin-right: auto;">
        <tr>
            <td>Phone No.</td>
            <td>
                <input type="tel" name="phoneno." id="phoneno."
                tabindex="18"
                pattern="[0-9]{4}-[0-9]{6}" required>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;  padding: 10px 15px;">
                <input type="submit" value="GET OTP">
                
            </td>
        </tr>

        <tr>
            <td>Enter OTP</td>
            <td>
                <input type="tel" name="contact" id="contact"
                tabindex="18"
                pattern="[0-9]{4}-[0-9]{6}" required>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; padding: 10px 15px;">
                <input type="submit" value="Verify OTP">
                
            </td>
        </tr>
    </table>