<header>
    <div class="container">
        <div class="header-left">
            <a (click)="gotohome()"><img class="logo" src="assets/Images/fms.png"> </a>
        </div>
        <div class="header-content">
            <h2 style="text-align: center;">Finance Management System</h2>
            <p style="text-align: right; margin-top: -16px; ">
            <p style="text-align: right;">Admin &nbsp; &nbsp;
            </p>
        </div>
    </div>
</header>
<table class="amdinTable">
    <tr>
        <td colspan="9" style="background-color:rgba(186, 220, 233, 0.5);">USER DETAILS DATABASE</td>
    </tr>
    <tr>
        <td>NAME</td>
        <td>UNAME</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>EDIT</td>
        <td>DELETE</td>
    </tr>
    <tr><td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
    <tr><td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
    <tr><td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
    <tr><td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>
</table>