
    <h2 style="text-align: center;">CHANGE PASSWORD</h2>
    <table  cellpadding ="8" width="800" style =" text-align: center; padding: 25px 110px;
    border-radius: 8px;
    background-color:rgba(186, 220, 233, 0.5);
    width: auto;
margin-left: auto;
margin-right: auto;">
        <div style="text-align: center;">
           
                <form name="changePassword">
                    <tr>
                        <td>NEW PASSWORD</td>
                        <td><input type="password" name="pass" size="30" tabindex="4" placeholder="Enter ur New Password"
                             
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,14}"
                            title="Must contain at least one number and
                            one uppercase and lowercase letter, and at
                            least 8 or max 14 characters"
                            required></td>
                             <!-- (?=.*[a-z]) - At least one lowercase letter(a - z).
                            (?=.*\d) - At least one Numeric Digit (0-9)
                            (?=.*[A-Z]) - - At least one Upper case letter(A - Z).
                            -->
                    </tr>
        
                    <tr>
                        <td>CONFIRM PASSWORD</td>
                        <td><input type="password" name="cpass" size="30" tabindex="5" placeholder="Confirm ur Password"
                            minlength="8" maxlength="14"
                             required></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;padding: 10px 15px;">
                            <input type="submit" value="SAVE">
                           
                        </td>
                    </tr>
                </form>
            </div>
    
    
